@import './base/fonts';
@import './base/mixin';
@import './base/nullstyle';
@import './base/variables';
@import './base/ui';
@import './header';
@import './section/basic';
@import './section/level';
@import './section/work';
@import './section/started';
@import './section/income';
@import './section/recording';
@import './section/about-main';

[class*='__container'] {
    max-width: $width-container;
    margin: 0 auto;
}

[class*='__bg-ellipse'] {
    width: 300px;
    height: 390px;
}

[class*='__bg-helmet'] {
    content: '';
    position: absolute;
    top: 20px;
    left: 67%;
    width: 60px;
    height: 60px;
    z-index: -2;
}
