.basic {
	margin-top: 35px;

	// .basic__container

	&__container {
		@include flex-col(center, center);
	}

	// .basic__title

	&__title {
		@include font-upp-500(36, $col-text-dark);
		span {
			color: $col-base-blue;
		}
	}

	// .basic__subtitle

	&__subtitle {
		@include font-400(20, $col-text-dark);
		margin-top: 20px;
	}

	// .basic__block

	&__block {
		margin-top: 20px;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	// .basic__center

	&__center {
		position: relative;
		@include flex(center, center);
		transform: translateX(10px);
	}

	// .basic__image

	&__image {
        margin-bottom: 10px;
	}

	&__center-btn {
		content: '';
		position: absolute;
        border-radius: 16px;
        box-shadow: 0px 2px 20px 0px rgba(202, 202, 202, 0.54);
	}

	&__center-btn:nth-child(2) {
        @include btn-white(235, 60, 20);
        top: 70px;
        left: 20%;
        img{
            content: '';
            position: absolute;
            bottom: -15px;
            left: 69%;
        }
	}

    &__center-btn:nth-child(3) {
        @include btn-white(274, 60, 20);
        bottom: 70px;
        left: 18%;
    }

    &__center-btn:nth-child(4) {
        @include btn-white(200, 60, 20);
        top: 90px;
        left: 63%;
    }

    &__center-img {
        content: '';
        position: absolute;
        &_trangle {
            top: 15px;
            left: 50px;
        }   
        &_pencil {
            top: 60px;
            right: 0;
        }
    }


	// .basic__bg

	&__bg-wrapper {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__bg-image {
		content: '';
		position: absolute;
		bottom: 0;
		@include transformX;
	}

	&__bg-fon {
		content: '';
		position: absolute;
		bottom: 0;
		@include transformX;
		width: 250px;
		height: 370px;
		border-radius: 130px / 150px;
		backdrop-filter: blur(2px);
	}

	&__bg-ellipse {
		width: 300px;
		height: 390px;
	}

	&__bg-helmet {
		content: '';
		position: absolute;
		top: 20px;
		left: 70%;
		width: 60px;
		height: 60px;
		z-index: -2;
	}

	&__shadow {
		width: 691px;
		height: 34px;
		flex-shrink: 0;
		border-radius: 100%;
		background: rgba(0, 0, 0, 0.1);
		filter: blur(8.5px);
        content: '';
        position: absolute;
        bottom: 10px;
        @include transformX();

	}

	// .basic__under

	&__under {
		@include font-400(22, rgba(0, 0, 0, 0.64));
		margin-top: 10px;
	}

	// .basic__btn

	&__btn {
		@include btn-blue(325, 70, 30);
		border-radius: 16px;
		margin-top: 25px;
	}
}
