.level {
    margin-top: 160px;

    // .lavel__container

    &__container {
    }

    // .lavel__title

    &__title {
        @include font-upp-500(36, $col-text-dark);

        span {
            color: $col-base-blue;
        }
    }

    // .lavel__items

    &__items {
        margin-top: 40px;

        @include flex(center, center);

        gap: 32px;
    }
}

.item {
    padding: 50px 30px 35px 50px;
    box-shadow: 0 2px 80px 0 rgb(225 225 225 / 78%);

    @include flex-col($fx-sb, start);

    background-color: $col-green-transparency;
    border-radius: 20px;
    max-width: 410px;
    transition: all 0.5s ease 0s;

    // .item__title

    &__title {
        @include font-upp-500(24, $col-text-light);

        &_light {
            color: $col-base-blue;
        }
    }

    // .item__list

    &__list {
        margin-top: 28px;
        min-height: 180px;
        padding-left: 20px;

        &_light {
            min-height: 0;
            margin-top: 3.75rem;
        }
    }

    // .item__subtitle

    &__subtitle {
        margin-top: 25px;

        @include font-400(24, $col-text-light);

        text-align: start;
    }

    // .item__subtitle-title

    &__subtitle-title {
    }

    // .item__subtitle-cost

    &__subtitle-cost {
        margin-top: 15px;
    }

    // .item__btn

    &__btn {
        margin-top: 27px;

        @include btn-white(222, 53, 18);

        color: $col-green-transparency;
        border-radius: 10px;
        transition: all 0.5s ease 0s;
    }
}

.item:hover {
    transition: all 0.5s ease 0s;
    transform: scale(1.01);
    background-color: $col-base-blue;
}

.item:hover > .item__btn {
    transition: all 0.5s ease 0s;
    color: $col-base-blue;
}

.list {
    &__item {
        @include font-400(18, $col-text-light);

        list-style: disc;
        text-align: start;
        line-height: 25px;

        &_light {
            color: black;
        }
    }
}
