.recording {
    margin-top: 17.5rem;
    position: relative;

    &__container {
        position: relative;
    }

    &__block {
        @include flex-col($fx-cent, $fx-cent);

        padding: 3.1rem 7rem 4.7rem;
        border-radius: 1rem;
        background-color: rgb(255 255 255 / 70%);
        backdrop-filter: blur(5px);
    }

    &__image {
        position: absolute;
        top: -8rem;
        right: -8rem;
        z-index: -1;
    }

    // .recording__title

    &__title {
        text-align: center;

        @include font-500(36, $col-text-dark);

        span {
            color: $col-base-blue;
        }
    }

    // .recording__subtitle

    &__subtitle {
        @include font-400(24, $col-text-secondary);

        line-height: 2.75rem;
        margin-top: 3.125rem;
    }

    // .recording__when

    &__date {
        @include font-500(36, $col-base-blue);
        @include flex-col($fx-cent, $fx-cent);

        line-height: 3.125rem;
        margin-top: 4.7rem;
    }

    &__button {
        @include btn-blue(325, 70, 30);

        border-radius: 1rem;
        margin-top: 3.125rem;
    }
}
