.recording {
    margin-top: 17.5rem;
    position: relative;

    &__block {
        @include flex-col($fx-cent, $fx-cent);

        padding: 3.125rem 5rem;
        border: 1px solid red;
        border-radius: 1rem;
        background-color: rgb(255 255 255 / 6%);
        backdrop-filter: blur(5px);
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    // .recording__title

    &__title {
        text-align: center;

        @include font-500(36, $col-text-dark);

        span {
            color: $col-base-blue;
        }
    }

    // .recording__subtitle

    &__subtitle {
    }

    // .recording__when

    &__when {
    }

    // .recording__date

    &__date {
    }

    // .recording__time

    &__time {
    }

    // .recording__button

    &__button {
    }
}
