.started {
    margin-top: 9rem;

    // .started__primary

    &__content {
        padding: 0 90px;

        @include flex($fx-sb, $fx-cent);
    }

    &__primary {
        flex: 0 0 50%;
        padding-right: 2rem;
    }


    &__title {
        @include font-500(50, $col-text-dark);

        span {
            color: $col-base-blue;
        }
    }

    &__button {
        margin-top: 6.5rem;
        color: $col-green-transparency;
        border-radius: .625rem;
        transition: all 0.5s ease 0s;

        @include btn-blue(222, 53, 18);
    }

    &__pyramid {
        @include flex-col($fx-cent, $fx-cent);
    }
}

.pyramid {
    &__item {
        position: relative;

        @include flex-col($fx-cent, $fx-cent);
    }

    &__general-layer {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__item:first-child > &__layer:nth-child(1) {
        transform: translateY(1.25rem);
        z-index: 2;
    }

    &__item:first-child > &__layer:nth-child(2) {
        transform: translateY(2.1875rem);
        z-index: 2;
    }

    &__item:first-child > &__layer:nth-child(3) {
        transform: translateY(.9375rem);
        z-index: 1;
    }

    &__item:nth-child(2) {
        transform: translateY(-1.125rem);
        z-index: -1;
    }

    &__item:nth-child(2) > &__general-layer {
        transform: translateY(-0.6875rem) !important;
    }

    &__item:nth-child(3) {
        transform: translateY(-2.5rem);
        z-index: -2;
    }

    &__item:nth-child(3) > &__general-layer {
        transform: translateY(-0.5rem) !important;
    }

    &__item:nth-child(4) {
        transform: translateY(-3.4375rem);
        z-index: -4;
    }

    &__item:nth-child(4) > &__general-layer {
        transform: translateY(-0.3125rem) !important;
    }

    &__item:nth-child(5) {
        transform: translateY(-4rem);
        z-index: -5;
    }

    &__item:nth-child(5) > &__general-layer {
        transform: translateY(-0.25rem) !important;
    }

    &__item:not(:first-child) > &__layer:nth-child(2) {
        transform: translateY(-0.625rem);
    }

    &__text {
        content: '';
        position: absolute;
        width: 80%;
        height: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        color: $col-text-light;

        @include font-400(18, $col-text-light);
    }
}
