.work {
    margin-top: 215px;

    // .work__title

    &__title {
        @include font-upp-500(36, $col-text-dark);

        span {
            color: $col-base-blue;
        }
    }

    // .work__block

    &__block {
        @include flex($fx-sb, $fx-cent);
    }

    // .work__person

    &__person {
        position: relative;
        height: 100%;
    }

    // .work__image

    &__image {
        content: '';
        position: absolute;
        width: 18rem;
        top: -50%;

        @include transform-x;
    }

    // .work__bg

    &__bg-ellipse {
        min-width: 30rem;
    }

    &__bg-shadow {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 200%;
        height: 50px;
        border-radius: 50%;
        background: rgb(0 0 0 / 17%);
        filter: blur(10px);

        @include transform-x;
    }

    // .work__items

    &__items {
        flex: 0 1 50%;
        padding: 40px 0;
        flex-wrap: wrap;
        gap: 20px;

        @include flex($fx-cent, $fx-cent);
    }

    // .work__item

    &__item {
        padding: 45px 20px 35px;
        box-shadow: 0 2px 80px 0 rgb(225 225 225 / 78%);
        background-color: $col-text-light;
        border-radius: 20px;
        max-width: 300px;
        max-height: fit-content;
        transition: all 0.5s ease 0s;

        @include flex-col($fx-sb, start);
    }
}
